**Assignment 1** Data Analytics and Visualization

Siddharth Nimbalkar (202211057)

1. Importing the library and the dataset

In [ ]:
library(dplyr)
#Siddharth Nimbalkar(202211057)
data <- read.csv("State Wise Udyam Registration Details.csv")

Attaching package: ‘dplyr’


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

2. Printing the data provided.

In [ ]:
options(width = 1000)
options(dplyr.width = Inf) #to display all columns in single row

In [ ]:
cat("The Data in the .csv file provided is: ")
cat("\n")
print(data)
cat("\n")
#Siddharth Nimbalkar(202211057)

The Data in the .csv file provided is:
    S..No.                                State.UT.Name       Micro    Small Medium Total.Udyam  IMEs..UAP. Total.MSMEs
1        1                               ANDHRA PRADESH   13,68,264   25,032  1,994   13,95,290   15,59,627   29,54,917
2        2                            ARUNACHAL PRADESH      17,554      404     35      17,993      14,489      32,482
3        3                                        ASSAM    6,71,516    9,973    876    6,82,365    3,23,192   10,05,557
4        4                                        BIHAR   13,39,613   19,412  1,032   13,60,057   18,43,822   32,03,879
5        5                                 CHHATTISGARH    4,74,447   12,107  1,292    4,87,846    5,38,434   10,26,280
6        6                                          GOA      64,610    1,724    159      66,493      36,855    1,03,348
7        7                                      GUJARAT   21,72,586   83,648  8,557   22,64,791   11,19,722   33,84,513
8        8                                      HARYANA   10,10,348   34,544  3,317   10,48,209    4,47,775   14,95,984
9        9                             HIMACHAL PRADESH    1,95,010    3,952    448    1,99,410      56,452    2,55,862
10      10                                    JHARKHAND    5,51,235    9,029    664    5,60,928    6,39,832   12,00,760
11      11                                    KARNATAKA   18,51,078   46,800  4,396   19,02,274   20,28,280   39,30,554
12      12                                       KERALA    7,72,050   19,164  1,472    7,92,686    6,21,491   14,14,177
13      13                               MADHYA PRADESH   16,05,213   30,122  2,282   16,37,617   21,20,324   37,57,941
14      14                                  MAHARASHTRA   52,32,853 1,07,331 12,373   53,52,557   23,52,756   77,05,313
15      15                                      MANIPUR      87,370      680     38      88,088      39,816    1,27,904
16      16                                    MEGHALAYA      29,804      506     61      30,371       9,711      40,082
17      17                                      MIZORAM      28,275      207     11      28,493      13,325      41,818
18      18                                     NAGALAND      30,852      247     17      31,116      21,429      52,545
19      19                                       ODISHA    9,69,310   14,951  1,100    9,85,361    8,72,127   18,57,488
20      20                                       PUNJAB   12,00,763   27,319  2,464   12,30,546    4,22,369   16,52,915
21      21                                    RAJASTHAN   22,87,048   42,910  3,440   23,33,398   10,14,376   33,47,774
22      22                                       SIKKIM      13,620      201     19      13,840      10,683      24,523
23      23                                   TAMIL NADU   31,20,299   60,005  5,335   31,85,639   16,10,631   47,96,270
24      24                                    TELANGANA   11,61,511   28,172  3,151   11,92,834   10,68,839   22,61,673
25      25                                      TRIPURA      76,238    1,003     73      77,314    1,76,643    2,53,957
26      26                                UTTAR PRADESH   31,38,759   62,893  4,860   32,06,512   30,71,519   62,78,031
27      27                                  UTTARAKHAND    3,15,687    6,361    542    3,22,590    1,62,621    4,85,211
28      28                                  WEST BENGAL   14,32,798   36,587  3,300   14,72,685   27,44,051   42,16,736
29      29                  ANDAMAN AND NICOBAR ISLANDS      14,447      276     14      14,737       2,928      17,665
30      30                                   CHANDIGARH      46,737    1,991    208      48,936      13,326      62,262
31      31                                        DELHI    7,37,333   41,243  5,015    7,83,591    3,01,952   10,85,543
32      32                            JAMMU AND KASHMIR    4,78,398    5,244    353    4,83,995    2,07,644    6,91,639
33      33                                       LADAKH      12,023      146      4      12,173       4,862      17,035
34      34                                  LAKSHADWEEP       1,155        1      0       1,156         837       1,993
35      35                                   PUDUCHERRY      46,367      960    128      47,455      38,948      86,403
36      36 THE DADRA AND NAGAR HAVELI AND DAMAN AND DIU      21,147    1,285    237      22,669       5,341      28,010
37 Total:-                                              3,25,76,318 7,36,430 69,267 3,33,82,015 2,55,17,029 5,88,99,044

3. Data after Removing the Last Tuple with 'Total' field.

In [ ]:
data <- data[-nrow(data), ]

cat("\n")
cat("The Data after removing the last Total tuple")
cat("\n")

print(data)
cat("\n")
#Siddharth Nimbalkar(202211057)

The Data after removing the last Total tuple
   S..No.                                State.UT.Name     Micro    Small Medium Total.Udyam IMEs..UAP. Total.MSMEs
1       1                               ANDHRA PRADESH 13,68,264   25,032  1,994   13,95,290  15,59,627   29,54,917
2       2                            ARUNACHAL PRADESH    17,554      404     35      17,993     14,489      32,482
3       3                                        ASSAM  6,71,516    9,973    876    6,82,365   3,23,192   10,05,557
4       4                                        BIHAR 13,39,613   19,412  1,032   13,60,057  18,43,822   32,03,879
5       5                                 CHHATTISGARH  4,74,447   12,107  1,292    4,87,846   5,38,434   10,26,280
6       6                                          GOA    64,610    1,724    159      66,493     36,855    1,03,348
7       7                                      GUJARAT 21,72,586   83,648  8,557   22,64,791  11,19,722   33,84,513
8       8                                      HARYANA 10,10,348   34,544  3,317   10,48,209   4,47,775   14,95,984
9       9                             HIMACHAL PRADESH  1,95,010    3,952    448    1,99,410     56,452    2,55,862
10     10                                    JHARKHAND  5,51,235    9,029    664    5,60,928   6,39,832   12,00,760
11     11                                    KARNATAKA 18,51,078   46,800  4,396   19,02,274  20,28,280   39,30,554
12     12                                       KERALA  7,72,050   19,164  1,472    7,92,686   6,21,491   14,14,177
13     13                               MADHYA PRADESH 16,05,213   30,122  2,282   16,37,617  21,20,324   37,57,941
14     14                                  MAHARASHTRA 52,32,853 1,07,331 12,373   53,52,557  23,52,756   77,05,313
15     15                                      MANIPUR    87,370      680     38      88,088     39,816    1,27,904
16     16                                    MEGHALAYA    29,804      506     61      30,371      9,711      40,082
17     17                                      MIZORAM    28,275      207     11      28,493     13,325      41,818
18     18                                     NAGALAND    30,852      247     17      31,116     21,429      52,545
19     19                                       ODISHA  9,69,310   14,951  1,100    9,85,361   8,72,127   18,57,488
20     20                                       PUNJAB 12,00,763   27,319  2,464   12,30,546   4,22,369   16,52,915
21     21                                    RAJASTHAN 22,87,048   42,910  3,440   23,33,398  10,14,376   33,47,774
22     22                                       SIKKIM    13,620      201     19      13,840     10,683      24,523
23     23                                   TAMIL NADU 31,20,299   60,005  5,335   31,85,639  16,10,631   47,96,270
24     24                                    TELANGANA 11,61,511   28,172  3,151   11,92,834  10,68,839   22,61,673
25     25                                      TRIPURA    76,238    1,003     73      77,314   1,76,643    2,53,957
26     26                                UTTAR PRADESH 31,38,759   62,893  4,860   32,06,512  30,71,519   62,78,031
27     27                                  UTTARAKHAND  3,15,687    6,361    542    3,22,590   1,62,621    4,85,211
28     28                                  WEST BENGAL 14,32,798   36,587  3,300   14,72,685  27,44,051   42,16,736
29     29                  ANDAMAN AND NICOBAR ISLANDS    14,447      276     14      14,737      2,928      17,665
30     30                                   CHANDIGARH    46,737    1,991    208      48,936     13,326      62,262
31     31                                        DELHI  7,37,333   41,243  5,015    7,83,591   3,01,952   10,85,543
32     32                            JAMMU AND KASHMIR  4,78,398    5,244    353    4,83,995   2,07,644    6,91,639
33     33                                       LADAKH    12,023      146      4      12,173      4,862      17,035
34     34                                  LAKSHADWEEP     1,155        1      0       1,156        837       1,993
35     35                                   PUDUCHERRY    46,367      960    128      47,455     38,948      86,403
36     36 THE DADRA AND NAGAR HAVELI AND DAMAN AND DIU    21,147    1,285    237      22,669      5,341      28,010

4. Printing the Data Types of the Data.

In [ ]:
# Data types
str(data)
cat("\n")
#Siddharth Nimbalkar(202211057)

'data.frame':	36 obs. of  8 variables:
 $ S..No.       : chr  "1" "2" "3" "4" ...
 $ State.UT.Name: chr  "ANDHRA PRADESH" "ARUNACHAL PRADESH" "ASSAM" "BIHAR" ...
 $ Micro        : chr  "13,68,264" "17,554" "6,71,516" "13,39,613" ...
 $ Small        : chr  "25,032" "404" "9,973" "19,412" ...
 $ Medium       : chr  "1,994" "35" "876" "1,032" ...
 $ Total.Udyam  : chr  "13,95,290" "17,993" "6,82,365" "13,60,057" ...
 $ IMEs..UAP.   : chr  "15,59,627" "14,489" "3,23,192" "18,43,822" ...
 $ Total.MSMEs  : chr  "29,54,917" "32,482" "10,05,557" "32,03,879" ...

5. Updating the datatypes

In [ ]:
# Convert columns to integer after removing commas
columns <- c("Micro", "Small", "Medium", "Total.Udyam", "IMEs..UAP.", "Total.MSMEs")
data[columns] <- lapply(data[columns], function(x) as.integer(gsub(",", "", as.character(x))))
cat("\n")
str(data)
cat("\n")
#Siddharth Nimbalkar(202211057)

'data.frame':	36 obs. of  8 variables:
 $ S..No.       : chr  "1" "2" "3" "4" ...
 $ State.UT.Name: chr  "ANDHRA PRADESH" "ARUNACHAL PRADESH" "ASSAM" "BIHAR" ...
 $ Micro        : int  1368264 17554 671516 1339613 474447 64610 2172586 1010348 195010 551235 ...
 $ Small        : int  25032 404 9973 19412 12107 1724 83648 34544 3952 9029 ...
 $ Medium       : int  1994 35 876 1032 1292 159 8557 3317 448 664 ...
 $ Total.Udyam  : int  1395290 17993 682365 1360057 487846 66493 2264791 1048209 199410 560928 ...
 $ IMEs..UAP.   : int  1559627 14489 323192 1843822 538434 36855 1119722 447775 56452 639832 ...
 $ Total.MSMEs  : int  2954917 32482 1005557 3203879 1026280 103348 3384513 1495984 255862 1200760 ...

6. Functions to calculate Mean, Median, Variance and Standard Deviation

In [ ]:
# Statistical functions
calculate_mean <- function(column)
{

  total <- 0
  n <- length(column)

  for (value in column)
  {
    total <- total + value
  }

  return(total / n)
}

calculate_median <- function(column)
{
  sorted_col <- sort(column)
  n <- length(sorted_col)

  if (n %% 2 == 0)
  {
    return((sorted_col[n / 2] + sorted_col[n / 2 + 1]) / 2)
  }
  else
  {
    return(sorted_col[(n + 1) / 2])
  }
}

calculate_variance <- function(column, mean_val) {
  return(sum((column - mean_val)^2) / length(column))
}

calculate_std_dev <- function(variance_val) {
  return(sqrt(variance_val))
}

7. Descriptive Statistics for DataFrame

In [ ]:
# Compute descriptive statistics
stats <- list()
for (col in columns) {
  col_data <- data[[col]]
  mean_val <- calculate_mean(col_data)
  median_val <- calculate_median(col_data)
  variance_val <- calculate_variance(col_data, mean_val)
  std_dev_val <- calculate_std_dev(variance_val)
  stats[[col]] <- list(
    Mean = mean_val,
    Median = median_val,
    Variance = variance_val,
    Standard.Deviation = std_dev_val
  )
}

In [ ]:
cat("Descriptive Statistics:\n")
# Create DataFrame for descriptive stats
stats_df <- do.call(rbind, lapply(stats, function(x) as.data.frame(t(x))))
print(stats_df)
#Siddharth Nimbalkar(202211057)

Descriptive Statistics:
                Mean   Median     Variance Standard.Deviation
Micro       904897.7 514816.5 1.289708e+12            1135653
Small       20456.39     9501    659363225           25678.07
Medium      1924.083      770      7127687           2669.773
Total.Udyam 927278.2   524387 1.351047e+12            1162346
IMEs..UAP.  708806.4   312572  7.61232e+11           872486.1
Total.MSMEs  1636085  1015918 3.765233e+12            1940421

8. Function to compute Correlation, Correlation Matrix and Display the Correlation Matrix

In [ ]:
# Function to calculate correlation
calculate_correlation <- function(x, y) {
  mean_x <- mean(x)
  mean_y <- mean(y)
  numerator <- sum((x - mean_x) * (y - mean_y))
  denominator <- sqrt(sum((x - mean_x)^2) * sum((y - mean_y)^2))
  return(numerator / denominator)
}
# Compute correlation matrix
correlation_matrix <- matrix(ncol = length(columns), nrow = length(columns))
colnames(correlation_matrix) <- columns
rownames(correlation_matrix) <- columns

for (col1 in columns) {
  for (col2 in columns) {
    correlation_matrix[col1, col2] <- calculate_correlation(data[[col1]], data[[col2]])
  }
}

cat("\nCorrelation Matrix for the given Data:\n")
# Display correlation matrix as DataFrame
correlation_df <- as.data.frame(correlation_matrix)
print(correlation_df)
#Siddharth Nimbalkar(202211057)

Correlation Matrix for the given Data:
                Micro     Small    Medium Total.Udyam IMEs..UAP. Total.MSMEs
Micro       1.0000000 0.9437033 0.9067729   0.9999664  0.8156231   0.9657319
Small       0.9437033 1.0000000 0.9830991   0.9463814  0.7492771   0.9038019
Medium      0.9067729 0.9830991 1.0000000   0.9099646  0.6598417   0.8417741
Total.Udyam 0.9999664 0.9463814 0.9099646   1.0000000  0.8149612   0.9654544
IMEs..UAP.  0.8156231 0.7492771 0.6598417   0.8149612  1.0000000   0.9378134
Total.MSMEs 0.9657319 0.9038019 0.8417741   0.9654544  0.9378134   1.0000000